html {
    height: 100%;
    width: 100%;
}

body {
    /* Background from https://bgjar.com */
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: auto;
}

#converterbox {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 65%;
    height: 35%;
    padding: 10px;
    background-color: #eee;
    border-radius: 25px;
    text-align: center;

}

#result {
    display: none;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    width: 45%;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

/* From cssbuttons.io by @alexmaracinaru */
#convertbutton {
    border: none;
    background: none;
    padding: 35px;
}

#convertbutton span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
}

#convertbutton svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

#convertbutton:hover svg {
    transform: translateX(0);
}

#convertbutton:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#convertbutton:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.input {
    border: 1.5px solid #666;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    height: 2, 5%;
    width: 25%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #converterbox {
        width: 80%;
        height: 50%;
    }

    #result {
        width: 80%;
    }

    #convertbutton {
        padding: 20px;
    }

    .input {
        width: 70%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #converterbox {
        width: 75%;
        height: 50%;
    }

    #result {
        width: 45%;
    }

    .input {
        width: 50%;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #converterbox {
        width: 80%;
        height: 50%;
    }

    #result {
        width: 45%;
    }

    .input {
        width: 50%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #result {
        width: 45%;
    }

    .input {
        width: 25%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #result {
        width: 45%;
    }

    .input {
        width: 25%;
    }
}